* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(73, 73, 73);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.upperbar {
    /* border: 2px solid white; */
    background-color: black;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.upperbar .button img {
    max-width: 15px;
    height: auto;
    vertical-align: middle;
    margin: 3px;
    filter: invert(100%);
}
.conteiner {
    border: 2px solid white;
    background-color: rgb(14, 14, 14);
    width: auto;
    margin: auto;
    height: 100%;
    padding: 30px 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    align-content: flex-start;
}
.lowerbar {
    border: 2px solid white;
    background-color: rgb(43, 43, 43);
    width: 100%;
    min-height: 80px;
    position: fixed;
    bottom: 0;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}

.controls {
    display: flex;
    align-items: center;
    gap: 10px;

}

.option {
    color: white;
    font-size: 12px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    

}
.option img {
    width: 30px;
    height: auto;
    filter: invert(100%);
}

.option div {
    font-weight: 600;
    margin-top: 5px;

}

/* .right-controls {
    width: 80px;
    height: 20px;
    background-color: gray;
} */

.user-video {
    width: 250px;
    height: 160px;
    background-color: blue;
    margin: 10px;
}

a {
    text-decoration: none;
}

.button {
    background-color: rgb(91, 91, 91);
    padding: 4px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    margin: 3px;

}

.button:hover {
    background-color: rgb(52, 52, 52);
}

.exit {
    color: red;
    font-size: 18px;
    font-weight: 600;
    padding: 10px;
}

.exit:hover {
    color: white;
    background-color:red;
}

.option:hover {
    background-color: rgb(10, 10, 10) ;

}